src/videos/
src/classifiers
src/CMakeFiles/
src/CMakeCache.txt
src/cmake_install.cmake
src/main
src/toby

CMakeFiles/
CMakeCache.txt

Examples/*
!Examples/*.cpp
!Examples/CMakeLists.txt

General/*
!General/*.lyx
!General/*.tex
